body {
    background: #130F0F;
}
@import "variable";
@import "main_herro_section";
@import "security_ensure";


/***********************************************************************
    * 3. dex_and_aggregator start
***********************************************************************/
.dex_and_aggregator {
    display: inline-block;
    width: 100%;
    padding: 0px 20px 30px;
    margin-bottom: 70px;

    .left_aggregator_content {
        h3 {
            font-family: Orbitron;
            font-size: 40px;
            font-weight: 400;
            line-height: 44px;
            text-align: left;
            color: rgba(250, 250, 250, 1);
            margin-bottom: 30px;
        }

        .content_lists {
            display: flex;
            justify-content: space-between; /* Equal spacing between items */
            align-items: stretch; /* Ensures items are the same height */
            gap: 20px;

            .item {
                display: inline-block;
                flex: 1; /* Equal width for all items */
                border: 1px solid rgba(173, 1, 1, 1);
                border-radius: 20px;
                padding: 30px;

                h3 {
                    font-family: Orbitron;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 22px;
                    text-align: left;
                    color: rgba(250, 250, 250, 1);
                    margin-bottom: 10px;
                }

                p {
                    font-family: Open Sans;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18.62px;
                    text-align: left;
                    color: rgba(250, 250, 250, 1);
                    margin-bottom: 0px;
                }
            }
        }
    }

    .right_aggregator_content {
        display: inline-block;
        width: 100%;
        position: relative;


        img {
            position: absolute;
            top: -180px;
            display: inline-block;
            width: 100%;
        }
    }

    .border_bottom {
        padding: 40px 0px;
        border-bottom: 1px solid rgba(173, 1, 1, 1);
    }
}

/***********************************************************************
    * 3. dex_and_aggregator end
***********************************************************************/

/***********************************************************************
    * 4. adaptive_privacy_network start
***********************************************************************/
.adaptive_privacy_network {
    display: inline-block;
    width: 100%;
    padding: 0px 20px 30px;
    margin-bottom: 60px;

    .left_adaptive_privacy_network {
        h3 {
            font-family: Orbitron;
            font-size: 40px;
            font-weight: 400;
            line-height: 44px;
            text-align: left;
            color: rgba(250, 250, 250, 1);
            margin-bottom: 50px;
            width: 90%;
        }

        p {
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 21.28px;
            text-align: left;
            color: rgba(250, 250, 250, 1);
            margin-bottom: 15px;
            width: 80%;
        }
    }

    .right_adaptive_privacy_network {
        display: inline-block;
        width: 100%;
        border: 1px solid rgba(173, 1, 1, 1);
        border-radius: 50px;
        padding: 60px 45px;

        h3 {
            font-family: Orbitron;
            font-size: 40px;
            font-weight: 400;
            line-height: 44px;
            text-align: left;
            color: rgba(250, 250, 250, 1);
        }

        p {
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 21.28px;
            text-align: left;
            color: rgba(250, 250, 250, 1);
            margin-bottom: 20px;
        }
    }

    .border_bottom {
        padding: 40px 0px;
        border-bottom: 1px solid rgba(173, 1, 1, 1);
    }
}

/***********************************************************************
    * 4. adaptive_privacy_network end
***********************************************************************/

/***********************************************************************
    * 5. stealth_address_system start
***********************************************************************/
.stealth_address_system {
    display: inline-block;
    width: 100%;
    padding: 0px 20px 30px;
    margin-bottom: 60px;

    .stealth_address_system_content {
        display: inline-block;
        width: 100%;

        h3 {
            font-family: Orbitron;
            font-size: 40px;
            font-weight: 400;
            line-height: 44px;
            text-align: left;
            color: rgba(250, 250, 250, 1);
            margin-bottom: 40px;
        }

        p {
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: rgba(250, 250, 250, 1);
            margin-bottom: 24px;
        }
    }

    .right_stealth_address_system_content {
        display: inline-block;
        width: 100%;
        position: relative;

        img {
            position: absolute;
            top: -170px;
            display: inline-block;
            width: 100%;
        }
    }

    .border_bottom {
        padding: 40px 0px;
        border-bottom: 1px solid rgba(173, 1, 1, 1);
    }
}

/***********************************************************************
    * 5. stealth_address_system end
***********************************************************************/

/***********************************************************************
    * 6. myst_dex_bot start
***********************************************************************/
.myst_dex_bot {
    display: inline-block;
    width: 100%;
    padding: 0px 20px 30px;
    margin-bottom: 10px;

    .left_myst_dex_bot {
        display: inline-block;
        width: 100%;

        h3 {
            font-family: Orbitron;
            font-size: 40px;
            font-weight: 400;
            line-height: 44px;
            text-align: left;
            color: rgba(250, 250, 250, 1);
            margin-bottom: 100px;
        }

        p {
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: rgba(250, 250, 250, 1);
            margin-bottom: 0px;
        }
    }

    .right_myst_dex_bot {
        display: inline-block;
        width: 100%;
        position: relative;

        img {
            position: absolute;
            top: -170px;
            display: inline-block;
            width: 100%;
        }
    }

    .border_bottom {
        padding: 40px 0px;
        border-bottom: 1px solid rgba(173, 1, 1, 1);
    }
}

/***********************************************************************
    * 6. myst_dex_bot end
***********************************************************************/

/***********************************************************************
    * 7. multi_asset_bridging start
***********************************************************************/
.multi_asset_bridging {
    background: url('/asset/image/multi_asset_bridging1.png') no-repeat center center;
    background-size: cover;
    min-height: 1170px;
    width: 100%;
    overflow: hidden;
    padding: 90px 20px 30px;

    .multi_asset_bridging_lists {
        display: flex;
        justify-content: space-between; /* Equal spacing between items */
        // align item any where
        align-items: flex-start; /* Ensures items are the same height */


        .item {
            position: relative;
            display: inline-block;
            flex: 1; /* Equal width for all items */
            border: 1px solid rgba(173, 1, 1, 1);
            border-radius: 20px;
            padding: 30px 30px 60px;
            margin-right: 100px;
            background: #130F0F;

            h3 {
                font-family: Orbitron;
                font-size: 20px;
                font-weight: 400;
                line-height: 22px;
                text-align: left;
                color: rgba(250, 250, 250, 1);
                margin-bottom: 10px;
            }

            p {
                font-family: Open Sans;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                color: rgba(250, 250, 250, 1);
                margin-bottom: 0px;
            }
        }

        .first_item {
            margin-top: 50px;
        }

        .second_item {
            margin-top: 190px;
        }

        .third_item {
            margin-right: 0 !important;
            margin-top: 350px;
        }

        .item::before {
            content: '';
            position: absolute;
            bottom: -2px;
            right: 60px;
            width: 100px; /* Width of the notch */
            height: 20px; /* Height of the notch */
            background-color: #130F0F; /* Background color to match the body */
            border-top: 1px solid #ff0000; /* Top border of the notch */
            border-left: 1px solid #ff0000; /* Left border */
            border-right: 1px solid #ff0000; /* Right border */
            border-bottom: none; /* No bottom border */
            //border-radius: 20px 20px 0px 0px; /* Rounded corners on the bottom */
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 3px 5px;
        }
    }
}

/***********************************************************************
    * 7. multi_asset_bridging end
***********************************************************************/

/***********************************************************************
    * 8. building_a_foundation start
***********************************************************************/
.building_a_foundation_header {
    .building_title {
        font-family: Orbitron;
        font-size: 40px;
        font-weight: 400;
        line-height: 37.6px;
        text-align: center;
        color: rgba(250, 250, 250, 1);
        margin-bottom: 70px;
    }
}

.building_a_foundation {
    background: url('/asset/image/building_a_function.png') no-repeat center center;
    background-size: cover;
    min-height: 889px;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    padding: 0px 20px 30px;
    margin-bottom: 60px;

    .build_function_list {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;

        &::before {
            content: '';
            position: absolute;
            width: 1px;
            background-color: rgba(255, 0, 0, 1);
            box-shadow: 0px 4px 12.7px 0px rgba(255, 0, 45, 1);
            top: 50px;
            bottom: 50px;
            left: 50%;
            margin-left: -3px; // Align the line in the center
        }

        .item {
            padding: 20px 40px;
            position: relative;
            width: 45%;
            border-radius: 15px;
            margin-bottom: 40px;
            background: rgba(33, 25, 25, 0.7);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            border: 1px solid rgba(173, 2, 2, 1);

            h3 {
                font-family: Orbitron;
                font-size: 20px;
                font-weight: 400;
                line-height: 22.39px;
                text-align: left;
                color: rgba(250, 250, 250, 1);
                margin-bottom: 15px;
            }

            p {
                font-family: Orbitron;
                font-size: 16px;
                font-weight: 400;
                line-height: 17.91px;
                text-align: left;
                color: #8E8484;
                margin-bottom: 25px;
            }

            .building_content {
                p {
                    font-family: Open Sans;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18.62px;
                    text-align: left;
                    color: rgba(250, 250, 250, 1);
                    margin-bottom: 15px;
                }

                ul {
                    list-style-type: disc;
                    margin-left: 20px;

                    li {
                        font-family: Open Sans;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 18.62px;
                        text-align: left;
                        color: rgba(250, 250, 250, 1);
                        margin-bottom: 20px;
                    }
                }
            }

            &::before {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                background-color: #000;
                border-radius: 50%;
                border: 2px solid red;
                box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.5);
                top: 20px;
                z-index: 1;
            }

            &.left {
                left: 0;

                &::before {
                    right: -71px; // Position circle on the left
                }
            }

            &.right {
                left: 55%; // Align to the right of center line

                &::before {
                    left: -77px; // Position circle on the right
                }
            }
        }
    }

    // Media query for smaller screens
    @media screen and (max-width: 768px) {
        .item {
            width: 100%; // Full width for small screens
            left: 0;

            &::before {
                left: calc(50% - 12.5px); // Center the dot in mobile
            }
        }

        .build_function_list::before {
            left: 50%;
        }
    }


}

/***********************************************************************
    * 8. building_a_foundation end
***********************************************************************/


/***********************************************************************
    * 9. ready_to_build_myst start
***********************************************************************/
.ready_to_build_myst {
    background: url('/asset/image/ready_to_build_myst.png') no-repeat center center;
    background-size: cover;
    min-height: 518px;
    width: 100%;
    overflow: hidden;
    display: inline-block;

    .ready_build_myst {
        display: inline-block;
        width: 100%;
        text-align: center;

        h3 {
            font-family: Orbitron;
            font-size: 40px;
            font-weight: 400;
            line-height: 44px;
            text-align: center;
            color: rgba(250, 250, 250, 1);
            width: 30%;
            margin: 0 auto;
            margin-bottom: 40px;
            padding-top: 100px;
        }

        .get_started {
            display: inline-block;
            font-family: Open Sans;
            font-size: 24px;
            font-weight: 400;
            line-height: 32.68px;
            text-align: left;
            color: #FFFFFF;
            text-decoration: none;
            padding: 10px 78px;
            background: linear-gradient(93.84deg, #B30000 -1.18%, #550000 112.53%);
            border: 1.36px #FF0000;
            border-radius: 46.21px;
            margin-bottom: 70px;
        }

        .social_media {
            display: inline-block;
            width: 100%;
            list-style: none;

            li {
                display: inline-block;

                a {
                    display: inline-block;
                    text-align: left;
                    color: #FFFFFF;
                    text-decoration: none;
                    border: 1px solid rgba(255, 255, 255, 1);
                    padding: 2px;
                    border-radius: 27px;
                    backdrop-filter: blur(18.100000381469727px);
                    background: rgba(73, 73, 73, 0.4);
                    margin-right: 10px;

                    span {
                        display: inline-block;
                        padding: 5px;
                        padding-left: 12px;
                    }

                    img {
                        width: 36px;
                        height: 36px;
                        margin-left: 18px;
                    }
                }
            }
        }
    }

    .footer_section {
        display: inline-block;
        width: 100%;
        margin-top: 50px;
        padding: 20px 0px;
        // background black with transparency and linear gradient
        background: linear-gradient(180deg, rgb(28 26 26 / 0%) 0%, rgb(0 0 0 / 81%) 100%);

        .footer_left {
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 21.79px;
            text-align: left;
            color: #FFFFFF;
        }

        .footer_right {
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 21.79px;
            text-align: left;
            float: right;
            color: #FFFFFF;
        }
    }
}

/***********************************************************************
    * 9. ready_to_build_myst end
***********************************************************************/


/***********************************************************************
    * 00. Responsive Start
***********************************************************************/

// responsive for mobile
@media screen and (max-width: 1300px) {
   .main_herro_section {
       .herro_section {
           .left_content {
               p {
                   font-size: 10px;
               }
           }
       }
       .herro_sub_section {
           .left_content {
               h3 {
                   font-size: 55px;
               }
           }
           .right_content {
               h3 {
                   font-size: 55px;
               }
           }
       }
   }
}

@media screen and (max-width: 991px) {
    .main_herro_section {
        .right_header {
            a {
                font-size: 12px !important;
            }
        }
        .herro_section {
            .left_content {
                p {
                    font-size: 9px;
                }
            }
        }

        .herro_sub_section {
            .left_content {
                h3 {
                    font-size: 40px;
                }
            }
            .right_content {
                h3 {
                    font-size: 40px;
                }
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .main_herro_section {
        .herro_section {
            .left_content {
                p {
                    font-size: 8px;
                }
            }
        }
    }
    .security_ensure {
        .security_ensure_content {
            h3 {
                width: 700px;
                font-size: 28px;
            }
        }
    }
}
/***********************************************************************
    * 00. Responsive End
***********************************************************************/